<nav class="nav-fixed ">
    <div class="nav-container ">
        <div class="top-bar">
            <p>100% Secure delivery without contacting the courier.Order your food now!</p>
            <div class="auth-actions">
                <div class="auth-item">
                    <i class="fa-regular fa-envelope text-white auth-icon"></i>
                    <p>Subscribe & Get 10% Off</p>
                </div>
                <div class="auth-item-signin">
                    <i class="fa-regular fa-user text-white auth-icon"></i>
                    <a href="#home" class="nav-link">Sign In</a>
                </div>

            </div>
        </div>
        <div class="nav-main">
            <div class="logo-wrapper">
                <img src="/src/image/logo.png" alt="My Logo" width="250">
            </div>
            <div class="hidden md:block">
                <div class="nav-links">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/menu.html" class="nav-link">Menu</a>
                    <a href="#our_chefs" class="nav-link">OUR CHEFS</a>
                    <a href="#about" class="nav-link">About</a>
                    <a href="#contact" class="nav-link">Contact</a>
                    <i class="fa-solid fa-magnifying-glass nav-search"></i>
                </div>
            </div>
            <div class="nav-controls">
                <div class="flex items-center">
                    <a href="#reservations" class="btn-primary hidden sm:block">Book a Table</a>
                </div>
                <!-- Mobile menu button -->
                <div class="md:hidden">
                    <button class="mobile-menu-btn">
                        <span class="hamburger-line w-full h-0.5 rounded-full"></span>
                        <span class="hamburger-line w-full h-0.5 rounded-full"></span>
                        <span class="hamburger-line w-full h-0.5 rounded-full"></span>
                    </button>
                </div>
            </div>

        </div>

    </div>
    <div class="mobile-menu ">
        <div class="mobile-nav-links">
            <a href="/" class="nav-link">Home</a>
            <a href="/menu.html" class="nav-link">Menu</a>
            <a href="#our_chefs" class="nav-link">OUR CHEFS</a>
            <a href="#about" class="nav-link">About</a>
            <a href="#contact" class="nav-link">Contact</a>
        </div>
    </div>
</nav>